{% extends "base.html" %}
{% block content %}

<h4>Latest and Greatest</h4>
<br />
{% if articles %}
    {% for article in articles_page.object_list %}
        <div class="post">
            <h1 class="post-headline"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a></h1>
            <h5 class="post-date">Posted in {{ article.category }} on {{ article.date|strftime('%Y-%m-%d %H:%I:%S') }}</h5>
            <p>{{ article.summary }}</p>
        </div>
    {% endfor %}

<div class="pagination">
    {% include 'pagination.html' %}
</div>

{% else %}
    <div class="post">
    <p>There are no posts...yet!</p>
    </div>

{% endif %}


{% endblock %}